apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.Name}}-api-ingress
  namespace: {{.Name}}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  tls:
  - hosts:
    - api.{{.Name}}.com
    secretName: {{.Name}}-api-tls
  rules:
  - host: api.{{.Name}}.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{.Name}}-api-service
            port:
              number: 80