apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}-api-service
  namespace: {{.Name}}
  labels:
    app: {{.Name}}-api
spec:
  selector:
    app: {{.Name}}-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: ClusterIP