package {{.Organization}}.{{.Name | lower}}.mobile.domain.repository

import kotlinx.coroutines.flow.Flow
import {{.Organization}}.{{.Name | lower}}.mobile.domain.model.User
import {{.Organization}}.{{.Name | lower}}.mobile.domain.model.LoginCredentials
import {{.Organization}}.{{.Name | lower}}.mobile.domain.model.AuthToken
import {{.Organization}}.{{.Name | lower}}.mobile.core.util.Resource

interface UserRepository {
    
    suspend fun login(credentials: LoginCredentials): Resource<AuthToken>
    
    suspend fun getUserProfile(): Resource<User>
    
    fun getUsers(): Flow<Resource<List<User>>>
    
    suspend fun getUserById(id: String): Resource<User>
    
    suspend fun updateUser(user: User): Resource<User>
    
    suspend fun deleteUser(id: String): Resource<Unit>
    
    suspend fun syncUsers(): Resource<Unit>
    
    fun getCachedUsers(): Flow<List<User>>
}