<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="app_name">{{.Name}}</string>
    <string name="users_title">Users</string>
    <string name="loading">Loading...</string>
    <string name="retry">Retry</string>
    <string name="error_network">Network error occurred</string>
    <string name="error_unknown">Unknown error occurred</string>
</resources>