package {{.Organization}}.{{.Name | lower}}.mobile.presentation.navigation

import androidx.compose.runtime.Composable
import androidx.compose.ui.Modifier
import androidx.navigation.NavHostController
import androidx.navigation.compose.NavHost
import androidx.navigation.compose.composable
import androidx.navigation.compose.rememberNavController
import {{.Organization}}.{{.Name | lower}}.mobile.presentation.users.UsersScreen

@Composable
fun {{.Name}}Navigation(
    modifier: Modifier = Modifier,
    navController: NavHostController = rememberNavController()
) {
    NavHost(
        navController = navController,
        startDestination = "users",
        modifier = modifier
    ) {
        composable("users") {
            UsersScreen()
        }
    }
}