package {{.Organization}}.{{.Name | lower}}.mobile.data.local.entity

import androidx.room.Entity
import androidx.room.PrimaryKey

@Entity(tableName = "users")
data class UserEntity(
    @PrimaryKey
    val id: String,
    val email: String,
    val name: String,
    val avatarUrl: String?,
    val createdAt: Long,
    val updatedAt: Long
)