package {{.Organization}}.{{.Name | lower}}.mobile

import android.app.Application
import dagger.hilt.android.HiltAndroidApp

@HiltAndroidApp
class {{.Name}}Application : Application() {
    
    override fun onCreate() {
        super.onCreate()
    }
}